// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.navbar{
  background-color:#4A7B5A !important;
}



/* Fælles styling */
section {
  padding: 5rem 0;
}

/* Første (hvid) sektion */
.cta-section {
  background-color: #ffffff;
}

.cta-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
}

.cta-section p {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

/* Grøn sektion */
.community-section {
  background-color: #4A7B5A; /* din grønne farve */
}

.community-section h2 {
  color: #F1E19F; /* gul overskrift */
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.community-section p {
  color: #000;
  max-width: 900px;
  margin: 0 auto 2rem;
}

.community-section strong {
  display: block;
  font-weight: 700;
}



.contact-form {
  minimum-width: 992px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 45px;
}

.contact-form button {
  background-color: #F1E19F;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.contact-form button:hover {
  background-color: #4A7B5A;
}




footer {
  background-color: #4A7B5A;
  color: #000000;
  padding: 5rem 0;
}

.social-icons a {
  font-size: 1.25rem;
}



body {
  font-family: 'Inter', sans-serif;
}